.Button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-family: inherit;
  font-size: 14px;
  font-weight: 600;

  min-height: 44px;
  border-radius: 12px;
  padding: 12px 50px;
  color: #fff;
  background: var(--main-color);
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  border: none;
  outline: none;
  opacity: 1;
  cursor: pointer;
  transform: translate(0px, 0px);
  user-select: none;
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    transform: translate(0px, 2px);
  }
  &:hover,
  &:focus {
    background: var(--main-color-hover);
  }
}

.Full {
  width: 100%;
}
