$label_color: rgba(138, 138, 137, 1);
$label_font_size: 14px;

.Fieldset {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: none;

  &.col-auto > * {
    width: auto;
  }
  &.col-1 > * {
    width: 100%;
  }
  &.col-2 > * {
    width: 50%;
  }

  .FieldsetLabel {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: $label_color;
    font-size: $label_font_size;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28571;
  }
}
