.Section {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: inherit;
  opacity: 0;
  transition: 1s;
  padding: 170px 0px 150px 0px;

  &.Visible {
    opacity: 1;
  }
}

.Dark {
  color: #fff;
  background: var(--text-color);
}

.FullScreen {
  min-height: 100vh;
}
