.LoadMore {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 100px;
}

.Link {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;
  color: var(--main-color);
  cursor: pointer;
  transition: 0.3s;
  background: none;
  border: none;
  &:hover,
  &:focus {
    color: var(--main-color-hover);
  }
}
